@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--main-color: slategray;
	--secondary-color: rgb(58, 67, 75);
	--text-color: rgb(192, 180, 159);
	--text-color-active: rgb(255, 245, 227);
	--text-color-hover: rgb(243, 255, 227);
	--main-font: 'Poppins', sans-serif;
	--secondary-font: 'Libre Baskerville', serif;
}

* {
	font-family: var(--main-font);
}

html {
	background-image: url("img/stone_tile.jpg");
	background-size: 5rem;
}

body {
	margin: 0;
	padding: 0;
}

/* Navigation */
nav {
	background-color: var(--secondary-color);
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
}

nav ul {
	text-decoration: none;
	list-style-type: none;
	justify-content: right;
	display: flex;
	margin: 0;
}

li {
	border-left: 1px solid #bbb;
}

li:first-child {
	border-left: none;
}

nav a {
	float: right;
	padding: 14px 16px;
	text-decoration: none;
	background-color: var(--secondary-color);
}

nav a:link,
nav a:visited {
	color: var(--text-color-hover);
	text-decoration: none;
}

nav a:hover,
nav a:active {
	color: black;
	text-decoration: underline;
}

nav a.active {
	color: var(--text-color-active);
	text-decoration: underline;
}

/*Header */
header {
	margin: 0;
	margin-top: 20px;
	left: 0;
	display: flex;
	justify-content: center;
}

.arrow {
	background: none;
	border: none;
	color: white;
	font-size: 2rem;
	cursor: pointer;
}

.dots {
	display: flex;
	gap: 0.5rem;
}

.dot {
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

.dot.active {
	background: var(--secondary-color);
}

div {
	justify-content: center;
	display: block;
	padding: 1em;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: transparent;
}




/*Footer */
footer {
	background-color: slategray;
	color: white;
	/* display: block; */
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;
	margin-top: auto;
}

/* Small screens */
@media only screen and (max-width: 768px) {

	body {
		font-size: small;
	}

	article figure img {
		float: none;
		max-width: 75%;
		height: auto;
	}
}

/* Mobile S screens */
@media only screen and (max-width: 480px) {

	body {
		font-size: x-small;
	}

	article {
		width: auto;
		padding: 15px;
		margin: 20px;
	}

	article figure img {
		float: none;
		max-width: 100%;
		height: auto;
	}
}