@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--main-color: slategray;
	--secondary-color: rgb(58, 67, 75);
	--color-overlay: rgba(0, 0, 0, 0.5);
	--text-color: rgb(192, 180, 159);
	--text-color-overlay:white;
	--text-color-active: rgb(255, 245, 227);
	--text-color-hover: rgb(243, 255, 227);
	--main-font: 'Poppins', sans-serif;
	--secondary-font: 'Libre Baskerville', serif;
	--card-font: var(--secondary-font);
	--card-font-size: 0.8em;
	--card-font-weight: 400;
}

* {
	font-family: var(--main-font);
}

html {
	background-image: url("img/stone_tile.jpg");
	background-size: 5rem;
}

body {
	margin: 0;
	padding: 0;
}

/* Navigation */
nav {
	background-color: var(--secondary-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1000;
	/* padding: 0.5rem; */
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.hamburger {
	display: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: var(--text-color-hover);
}

nav ul {
	text-decoration: none;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}


li {
	border-left: 1px solid #bbb;
}

li:first-child {
	border-left: none;
}

nav a {
	float: right;
	padding: 14px 16px;
	text-decoration: none;
	background-color: var(--secondary-color);
}

nav a:link,
nav a:visited {
	color: var(--text-color-hover);
	text-decoration: none;
}

nav a:hover,
nav a:active {
	color: black;
	text-decoration: underline;
}

nav a.active {
	color: var(--text-color-active);
	text-decoration: underline;
}

.log

/*Header */
header {
	margin: 0;
	left: 0;
}

.carousel {
	position: relative;
	width: 100%;
	height: 550px;
	margin-top: 70px;
	overflow: hidden;
	background-color: var(--main-color);
}

.carousel_overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--text-color-overlay);
	z-index: 2;
	background:var(--color-overlay);
	padding: 20px;
	border-radius: 8px;
}


.container_button {
	background: var(--primary-color);
	color: var(--text-color-overlay);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
}

.carousel_container {
	position: relative;
	width: 100%;
	height: 100%;
	/* width: 100%; */
	/* max-width: 800px; */
	overflow: hidden;
}

.carousel_overlay h1 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.carousel_wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.carousel_slides {
	display: flex;
	width: 300%;
	animation: slide 9s infinite;
	gap: 50px;
}

.slide {
	width: 100%;
	flex: 0 0 100%;
}

.slide img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: center;
}

.carousel_control {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	z-index: 3;
}

.dot {
	width: 10px;
	height: 10px;
	background: var(--text-color);
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
}

.dot:hover {
	background: var(--text-color-active);
}

/* .dots {
	display: flex;
	gap: 0.5rem;
}

.dot {
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

.dot.active {
	background: var(--secondary-color);
} */

.arrow {
	position: absolute;
	top: 50%;
	background: none;
	border: none;
	color: var(--text-color-overlay);
	font-size: 2rem;
	cursor: pointer;
}

.left {
	left: 0;
}

.right {
	right: 0;
	margin-right: 30px;
}

div {
	justify-content: center;
	display: block;
	padding: 1em;
}

/* Container */
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-wrap: wrap;
	justify-content: center;
	background-color: transparent;
}

/* Card */
.card {
	background-color: var(--secondary-color);
	color: var(--text-color);
	margin: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.card img {
	float: left;
	width: 40%;
	height: 70%;
	object-fit: cover;
	margin-bottom: 10px;
}

.card_description {
	font-size: var(--card-font-size);
	font-family: var(--card-font);
	font-weight: var(--card-font-weight);
}

.card:hover {
	transform: translateY(-5px);
}

/*Footer */
footer {
	background-color: var(--main-color);
	color: var(--text-color-overlay);
	/* display: block; */
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;
	margin-top: auto;
}

@keyframes slide {

	0%,
	33% {
		transform: translateX(100%);
	}

	34%,
	66% {
		transform: translateX(0%);
	}

	67%,
	100% {
		/* transform: translateX(-200%); */
		transform: translateX(-100%);
	}
}

/* Small screens */
@media only screen and (max-width: 768px) {

	body {
		font-size: small;
	}

	article figure img {
		float: none;
		max-width: 75%;
		height: auto;
	}
	.hamburger {
		display: block;
	}

	nav ul {
		display: none;
		flex-direction: column;
		background-color: var(--secondary-color);
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
	}

	nav ul.active {
		display: flex;
	}
}

/* Mobile S screens */
@media only screen and (max-width: 480px) {

	body {
		font-size: x-small;
	}

	article {
		width: auto;
		padding: 15px;
		margin: 20px;
	}

	article figure img {
		float: none;
		max-width: 100%;
		height: auto;
	}
}